<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="index" href="./index.html" />
<title>Inbox</title>
<style type="text/css">
body {
  background:#eee;
}
table {
  border: 1px #999 solid;
  border-collapse: collapse;
}
th, td {
  border: 1px #999 solid;
  padding: 6px 12px;
}
th {
  background: #ccc;
}
td {
  background: white;  
}
</style>
</head>
<body>
<h1>Inbox</h1>
<table>
<thead>
<tr>
<th>Date</th>
<th>Subject</th>
<th>From</th>
<th>To</th>
</tr>
</thead>

<tbody>
<!-- ADD -->

</tbody>
</table>
</body>
</html>
